<h4 class="ui center aligned medium icon header">
  <i class="circular inverted blue comments icon"></i>
  Chatroom
</h4>
    <h1 class="welcome-user">Welcome To The Main Room:
    <%= current_user.username %>
    </h1>

<!--beginning of chatroom-->
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render partial: "layouts/partials/messages" %>
        </div>
    </div>
  </div>
</div>

<!--end of chatroom-->


</div>